<div class="card w-25 mx-auto mt-5 shadow">
  <h2 class="card-header text-center">Jobs</h2>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger text-center">
      <%= msg %>
    </div>
  <% end %>
  <div class="card-body d-flex text-center p-0">
    <ul class="list-group w-100">
    <% @jobs.each do |job| %>
      <li class="list-group-item"><%= link_to job.title, job, data: { turbolinks: false } %></li>
    <% end %>
    </ul>
  </div>
</div>

