<%= react_component('application-data', {
  jobId: @job.id,
  jobTitle: @job.title,
  userId: current_user.id,
  userName: current_user.username,
  applicationsData: @applications,
  ratingsData: @ratings
})%>

<div id="root">
  <%= javascript_pack_tag 'applications' %>
</div>